* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  
  h1 {
    margin: 20px 0;
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  
  .annual-calendar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
  }
  
  .month {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .month:hover {
    transform: scale(1.05);
  }
  
  .month-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .month-body {
        padding: 10px;

  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
  }
  
  .weekday {
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
  }
  
  .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .date {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .date.has-day:hover {
    background-color: #f0f0f0;
  }
  
  .selected-day {
    background-color: #007bff;
    color: white;
  }
  
  .today {
    background-color: #ffcc00;
    color: white;
    font-weight: bold;
    border-radius: 50%;
  }

  .has-date{
    display: flex;
  }
  
  @media (max-width: 800px) {
    .calendar-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .calendar-grid {
      grid-template-columns: 1fr;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  }
  