* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
  
  .location-viewer {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-width: 97%;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .get-location-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .get-location-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
  .location-details {
    margin-top: 10px;
    text-align: left;
  }
  
  .location-details h2 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .location-details p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .map-container {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  @media (max-width: 500px) {
    h1 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    .get-location-button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  
    .map-container {
      height: 500px;
    }
  }
  